# Python
*.swp
*.pyc
*.pkl
*.py~
*.bak
.pytest_cache
.DS_Store
.idea
.vscode
.coverage
.coverage.*
__pycache__
_build/
*.npz
*.pth
.pytype/
git_rewrite_commit_history.sh


# Virtualenv
/env
/venv

# Directory
/data
/notebooks
